src
tsconfig.tsbuildinfo
plan.txt                                          
build/resources/tables.txt                        
unit_tests.txt
nodemon.json
.eslintignore                                     
.eslintrc
*.tgz
package.json
sampleexample